@use 'sass:math';

// Mixins ===========================================================================================================================================================================================================================================================================
@import 'base/mixins';

// fonts
@import "fonts/fonts";

// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
//@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Settings ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Font ==============================================================================================================================================================================================================================================================================
$fontFamily: 'XBd';
$fontSize: rem(14);

// Main Colors
$mainColor: #08070c; // Font color

// Selection Colors

::-moz-selection { // Code for Firefox
   color: white;
   background: rgb(0, 0, 36);
}

::selection {
   color: white;
   background: rgb(0, 0, 36);
}

// Configuring an adaptive grid ===============================================================================================================================================================================================================================================================================================

// Minimum page width
$minWidth: 320;
// Canvas width (layout)
$maxWidth: 1920;
// Width of the bounding container (0 = no limit)
$maxWidthContainer: 1440;
// General margin inside the container
// (30 = 15px left and right, 0 = no margin)
$containerPadding: 30;

// Width at which the first breakpoint triggers
$containerWidth: $maxWidthContainer + $containerPadding;

// Breakpoints
$pc: em($containerWidth); // Desktops, laptops, some tablets in horizontal position
$tablet: em(991.98); // Tablets, some phones in horizontal position
$mobile: em(767.98); // Large mobile phones
$mobileSmall: em(479.98); // Small mobile phones

// Type of adaptive layout:
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Null style ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import 'base/null';

// BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
   background-color: #040910;
   overflow: hidden;
}

// wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   @supports (overflow: clip) {
      overflow: clip;
   }
   > main {
      flex: 1 1 auto;
   }
   > * {
      min-width: 0;
   }
}
// Container ======================================================================================================================================================================================================================

@if ($responsiveType==1) {
   [class*='__container'] {
      @if ($maxWidthContainer>0) {
         max-width: rem($containerWidth);
         margin: 0 auto;
      }
      @if ($containerPadding>0) {
         @if ($maxWidthContainer>0) {
            padding: 0 rem(math.div($containerPadding, 2));
         } @else {
            @include adaptiveValue('padding-left', math.div($containerPadding, 2), 15);
            @include adaptiveValue('padding-right', math.div($containerPadding, 2), 15);
         }
      }
   }
} @else {
   [class*='__container'] {
      margin: 0 auto;
      @if ($maxWidthContainer>0) {
         max-width: rem($containerWidth);
      } @else {
         @if ($containerPadding>0) {
            padding: 0 rem(math.div($containerPadding, 2));
         }
      }
      @media (max-width: $pc) {
         max-width: rem(970);
      }
      @media (max-width: $tablet) {
         max-width: rem(750);
      }
      @media (max-width: $mobile) {
         max-width: none;
         @if ($containerPadding>0 and $maxWidthContainer>0) {
            padding: 0 rem(math.div($containerPadding, 2));
         }
      }
   }
}

// Connecting basic styles, templates and helper classes
// To enable/disable specific styles, see base.scss
@import 'base';

// Connecting project-wide element styles
@import 'common';

// Connecting individual block styles
@import 'header';
@import 'footer';

// Connecting individual page styles
@import 'home';