@font-face {
	font-family: XBd;
	font-display: swap;
	src: url("../fonts/XBd.woff2") format("woff2"), url("../fonts/XBd.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Rg;
	font-display: swap;
	src: url("../fonts/Rg.woff2") format("woff2"), url("../fonts/Rg.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
